.input {
    display: inline-block;
    color: rgdba(theme('colors.primary'),0.5);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #979797;
    padding-bottom: 10px;
    padding-top: 10px;
    width: fit-content;
}

.input:focus {
  display: inline-block;
  color: theme('colors.primary');
  border-bottom: 1px solid theme('colors.accent');
  outline-width: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  width: fit-content;
}