.textarea {
  display: inline-block;
  color: rgdba(theme("colors.primary"), 0.5);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 10px;
  padding-top: 10px;
  height: 107px;
}

.textarea:focus {
  display: inline-block;
  color: theme("colors.primary");
  border-bottom: 1px solid theme("colors.accent");
  outline-width: 0;
}

.error {
  border-bottom: 2px solid theme("colors.red.500");
}
