@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: "Space Grotesk", sans-serif;
    color: theme("colors.secondary");
    background: theme("colors.dark.600");
    overflow-x: hidden;
  }
  h1 {
    @apply text-5xl md:text-7xl xl:text-8xl text-primary font-bold;
  }

  h2 {
    @apply text-4xl  md:text-5xl text-primary font-bold;
  }

  h3 {
    @apply text-2xl md:text-3xl text-primary font-bold;
  }

  p {
    @apply text-lg font-normal;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
